
{{>sidebar curPage = "Đổi mật khẩu"}}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {{>navbar curPage = "Đổi mật khẩu"}}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-primary shadow-primary border-radius-lg pt-3 pb-1 d-flex justify-content-between align-items-center">
                <h6 class="text-white text-capitalize ps-3">Đổi mật khẩu</h6>
            
              </div>

            </div>
            
        <div class="card-body">

          <form onsubmit="return false">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="oldPassword" class="form-label">Mật khẩu hiện tại</label>
                <input class="form-control" type="password" id="oldPassword" name="oldPassword" autofocus />
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <input class="form-control" type="password" id="newPassword" name="newPassword" />
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" />
              </div>
            </div>

            <button type="submit" class="btn btn-primary me-2">Lưu thay đổi</button>
          </form>
        </div>
      </div>
            
          
        </div>
      </div>
    </div>
    {{>footer}}

  </main>