.customDown {
    --bs-dropdown-inner-border-radius: 0.375rem;
    --bs-dropdown-divider-bg: transparent;
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --bs-dropdown-link-color: #7b809a;
    --bs-dropdown-link-hover-color: #344767;
    --bs-dropdown-link-hover-bg: #f0f2f5;
    --bs-dropdown-link-active-color: #7b809a;
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-disabled-color: #6c757d;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.3rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 8px 5px;
    margin: 8px;
    font-size: 14px;
    color: #7b809a;
    text-align: left;
    list-style: none;
    background-color: #e6e6e6;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    right: 60px;
}

.customDown:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    position: absolute;
    top: -18px;
    left: 95px;
    right: auto;
    font-size: 22px;
    color: #e6e6e6;
    transition: top 0.35s ease;
}

@media (max-width: 991.98px) {
    .customDown:before {
        display: none !important;
    }
}
@media (max-width: 575.98px) {
    .customDown {
        right: 5px;
        left: auto;
    }
}

.customDown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.customDown-item:hover,
.customDown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

/* .detail-ward .modal-lg, .detail-place .modal-lg {
    max-width: 500px;
} */
/* .modal-lg {
    max-width: 500px;
} */
#requestLicenseAdsModal .modal-lg {
    max-width: 700px;
}

.card-header .btn {
    margin-bottom: 10px;
}

/* #addWardModal .form-label, #editWardModal .form-label,
#addPlaceModal .form-label, #editPlaceModal .form-label,
#addAccountModal .form-label, #editAccountModal .form-label {
    text-transform: uppercase;
    font-weight: 500;
} */
.form-label {
    /* text-transform: uppercase; */
    font-weight: 500;
}

/* .modal-header, .modal-footer {
    border: none;
} */

.form-check {
    padding-left: 0.125rem;
}

.form-switch {
    padding-left: 2.375rem;
}

.form-switch .form-check-input:checked {
    border-color: #0074D9;
    background-color: #0074D9;
}

.form-check.form-switch .form-check-input[type="checkbox"] {
    margin-top: 0.25rem;
}

.form-switch .form-check-input:checked:after {
    border-color: #0074D9;
}

.form-check-label {
    color: #0074D9;
}

.bg-label-primary {
    background-color: rgba(0, 116, 217, 0.2);
}

.select-form-control {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
}

.modal-backdrop {
    z-index: 9999;
}
.modal {
    z-index: 10000;
}
.modal-backdrop.show {
    opacity: 0.25;
}

#reportsTable p {
    font-size: 0.875rem;
}