.customDown {
    --bs-dropdown-inner-border-radius: 0.375rem;
    --bs-dropdown-divider-bg: transparent;
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --bs-dropdown-link-color: #7b809a;
    --bs-dropdown-link-hover-color: #344767;
    --bs-dropdown-link-hover-bg: #f0f2f5;
    --bs-dropdown-link-active-color: #7b809a;
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-disabled-color: #6c757d;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.3rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 8px 5px;
    margin: 8px;
    font-size: 14px;
    color: #7b809a;
    text-align: left;
    list-style: none;
    background-color: #e6e6e6;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    right: 60px;
}

.customDown:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    position: absolute;
    top: -18px;
    left: 95px;
    right: auto;
    font-size: 22px;
    color: #e6e6e6;
    transition: top 0.35s ease;
}

@media (max-width: 991.98px) {
    .customDown:before {
        display: none !important;
    }
}
@media (max-width: 575.98px) {
    .customDown {
        right: 5px;
        left: auto;
    }
}

.customDown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.customDown-item:hover,
.customDown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.detail-ward .modal-lg, .detail-place .modal-lg {
    max-width: 500px;
}

.card-header .btn {
    margin-bottom: 10px;
}

#addWardModal .form-label, #editWardModal .form-label,
#addPlaceModal .form-label, #editPlaceModal .form-label {
    text-transform: uppercase;
    font-weight: 500;
}
#addWardModal .modal-header, #addWardModal .modal-footer, 
#editWardModal .modal-header, #editWardModal .modal-footer,
#addPlaceModal .modal-header, #addPlaceModal .modal-footer, 
#editPlaceModal .modal-header, #editPlaceModal .modal-footer {
    border: none;
}

.form-check {
    padding-left: 0.125rem;
}

.form-check-label {
    color: rgb(0, 116, 217);
}

.bg-label-primary {
    background-color: rgba(0, 116, 217, 0.2);
}